spring:
  application:
    name=account

  datasource:
    url: "jdbc:h2:mem:testdb"
    username: "sa"

    password: ""
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect


#springdoc:
#  swagger-ui:
#    path: /swagger-ui.html
#    enabled: true

build:
  version: "1.0"





